// Include functions first
@import 'bootstrap/scss/functions';

// Customize some defaults
$font-family-sans-serif: 'Lato', serif;

$gray-900: #353535;
$gray-700: #5e5e5e;
$gray-500: #bfbfbf;
$gray-300: #e8e8e8;
$gray-100: #f5f5f5;
$primary: #f22539;
$primary-dark: #c00e20;

$body-color: $gray-700;
$body-bg: #f9f9f9;

$font-size-base: 1.125rem !default; //18px
$h1-font-size: 36px !default;
$h2-font-size: 26px !default;
$h3-font-size: 22px !default;
$h4-font-size: 20px !default;
$font-size-sm: 16px !default;

$border-radius: 60px;

// Required
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';

@import 'bootstrap/scss/type';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/modal'; // Requires transitions
@import 'bootstrap/scss/offcanvas'; // Requires transitions

// Utilities
@import 'bootstrap/scss/utilities/api';

#pokedex {
  .container {
    max-width: 570px;
  }

  .btn {
    --bs-btn-padding-x: 20px;
    --bs-btn-padding-y: 11px;

    &:hover {
      color: $white;
      background-color: darken($primary, 12%);
      border-color: darken($primary, 12%);
    }

    &:first-child:active,
    &.active {
      color: $white;
      background-color: $primary-dark;
      border-color: $primary-dark;
    }

    &-primary {
      color: $white;

      &:active {
        color: $white;
        background-color: $primary-dark;
        border-color: $primary-dark;
      }
    }
  }
}
